@import '../../../configs/colors.scss';

.input {
    outline: none;
    border: 1px solid $gray;
    border-radius: 3px;
    transition: background-color 500ms;
    background-color: white;

    &:focus {
        outline: none;
    }
}

.valid {
    background-color: $ll_blue !important;
}

.invalid {
    background-color: $ll_red !important;
}

.small {
    padding: 6px 8px;
    font-size: 14px;
    min-width: 210px;
}

.medium {
    padding: 10px 12px;
    font-size: 16px;
    min-width: 220px;
}

.large {
    font-size: 20px;
    padding: 16px 20px;
    min-width: 230px;
}