.wrapper {
    display: flex;
    height: 100%;
}

.vertical_margin {
    margin: 10px 0;

}

.column {
    flex-direction: column;
}

.justify_between {
    justify-content: space-between;
}

.justify_center {
    justify-self: center;
}

.justify_around {
    justify-content: space-around;
}

.justify_start {
    justify-content: flex-start;
}

.justify_end {
    justify-content: flex-end;
}

.align_stretch {
    align-items: stretch;
}

.align_center {
    align-items: center;
}

.align_start {
    align-items: flex-start;
}

.align_end {
    align-items: flex-end;
}

.self_stretch {
    align-self: stretch;
}

.wrap {
    flex-wrap: wrap;
}