@import '../../../configs/colors.scss';

.verify_button {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.wrap {
    height: 35px;
}

.fixed {
    background-color: $ll_blue;
}

.loading {
    cursor: default;
}