.form {
    width: 300px;
    height: 100px;
    padding: 26px;
    padding-bottom: 5px;
    padding-top: 10px;
}

@media screen and (max-width:420px) {
    .form {
        width: 250px;
        height: 100px;
        padding: 20px;
        padding-bottom: 5px;
        padding-top: 10px;
    }
}