.table_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hint_wrapper{
    width: 40px;
    height: 30px;
    position: relative;
}
.show_select{
    background-color: black;
    padding: 10px 25px;
    font-size: 25px;
    color: white;
    border-radius: 8px;
}
.container_center{
    display: flex;
    justify-content: center;
}