@import '../../../configs/colors.scss';

.label {
    border: 1px solid $gray;
    border-radius: 3px;
    transition: background-color 500ms;
    background-color: white;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.input {
    display: none;
}


.small {
    padding: 6px 8px;
    font-size: 14px;
    min-width: 210px;
    font-size: 14px;
}

.medium {
    padding: 10px 12px;
    font-size: 16px;
    min-width: 220px;
    font-size: 16px;
}

.large {
    font-size: 20px;
    padding: 16px 20px;
    min-width: 230px;
    font-size: 20px;
}

.common {
    background-color: white;
    border: 1px solid $gray;
    color: black;

    &:not(.disabled) {
        &:hover {
            background-color: #eaeaea;
        }
    }
}

.active {
    background-color: $l_blue;
    border: 1px solid $l_blue;

    color: white;

    &:not(.disabled) {
        &:hover {
            background-color: lighten($l_blue, 5);
        }
    }
}

.warning {
    background-color: $red;
    border: 1px solid $red;
    color: white;

    &:not(.disabled):not(.loading) {
        &:hover {
            background-color: darken($red, 4);
        }
    }
}

.disabled {
    background-color: $ll_gray;
    border: 1px solid $gray;
    color: $gray;
    position: relative;

    cursor: not-allowed;
}