@import '../../../configs/colors.scss';

.wrap {
    display: inline-block;
    position: relative;
}

.hint_btn {
    width: 30px;

    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    font-size: 14px;
    padding: 0;
    padding-right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        width: 23px;
        height: 23px;
        font-size: 23px;
        color: $gray;
    }
}

.small {
    padding: 6px 35px 6px 8px;
    font-size: 14px;
    min-width: 180px;
    width: 100%;
    box-sizing: border-box;
}

.medium {
    padding: 10px 37px 10px 12px;
    font-size: 16px;
    min-width: 190px;
    width: 100%;
    box-sizing: border-box;
}

.large {
    padding: 7px 40px 7px 10px;
    font-size: 20px;
    min-width: 200px;
    width: 100%;
    box-sizing: border-box;
}