@import '../../configs/colors.scss';

///// styleType
.btn {
    padding: 6px 20px;
    display: block;
    border-radius: 4px;
    transition: background-color 300ms, color 300ms, border-color 300ms;

}

.common {
    background-color: white;
    border: 1px solid $gray;
    color: black;

    &:not(.disabled):not(.loading) {
        &:hover {
            background-color: #eaeaea;
        }
    }
}

.active {
    background-color: $l_blue;
    border: 1px solid $l_blue;

    color: white;

    &:not(.disabled):not(.loading) {
        &:hover {
            background-color: lighten($l_blue, 5);
        }
    }
}

.warning {
    background-color: $red;
    border: 1px solid $red;
    color: white;

    &:not(.disabled):not(.loading) {
        &:hover {
            background-color: darken($red, 4);
        }
    }
}

.disabled {
    background-color: $ll_gray;
    border: 1px solid $gray;
    color: $gray;
    position: relative;

    cursor: not-allowed;
}

/////
///// sizes
.large {
    font-size: 20px;
}

.medium {
    font-size: 16px;
}

.small {
    font-size: 14px;
}

/////
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: not-allowed;
}