///// styleType
.btn {
    padding: 6px 20px;
    display: block;
    border-radius: 4px;
    transition: background-color 300ms, color 300ms, border-color 300ms;

}

.common {
    background-color: white;
    border: 1px solid #a8a8a8;
    color: black;

    &:not(.disabled):not(.loading) {
        &:hover {
            background-color: #eaeaea;
        }
    }
}

.active {
    background-color: #2ab7ca;
    border: 1px solid #2ab7ca;
    color: white;

    &:not(.disabled):not(.loading) {
        &:hover {
            background-color: #27acbd;
        }
    }
}

.warning {
    background-color: #ff3434;
    border: 1px solid #ff3434;
    color: white;

    &:not(.disabled):not(.loading) {
        &:hover {
            background-color: #ff4747;
        }
    }
}

.disabled {
    background-color: #e0dbdb;
    border: 1px solid #858585;
    color: #858585;
    position: relative;

    cursor: not-allowed;
}

/////
///// sizes
.large {
    font-size: 20px;
}

.medium {
    font-size: 16px;
}

.small {
    font-size: 14px;
}

/////
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: not-allowed;
}