$green: #49e035;
$red: #ff4d4d;
$ll_red: #ffcdcd;
$orange : #fe8040;
$ll_blue: #e5eef9;
$l_blue: #2ab7ca;
$d_blue: #1466b8;
$blue: #3791e9;
$pale_blue: #93afea;
$l_gray: #c0c0c0;


$ll_gray: #e7eff5;

$m_gray: #bbbbbb;
$gray: #a8a8a8;
$d_gray: #858585;
$dd_gray: #272727;