@import '../../configs/colors.scss';

.wrap {
    min-height: 100vh;
    background-color: $ll_gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 300px;
    height: 150px;
    padding: 26px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid $gray;
}

@media screen and (min-width:420px) {
    .form {
        width: 280px;
        height: 150px;
        padding: 20px;
    }
}