@import '../../../configs/colors.scss';

.variant {
    text-align: center;
    color: white;
    cursor: pointer;
    padding: 7px;
}

.variant.attended {
    background-color: $green;
}

.variant.absent {
    background-color: $red;
}

.variant.sick {
    background-color: $orange;
}

.variant.order {
    background-color: $blue;
}

.variant.unknown {
    background-color: darken($ll_gray, 4);
    color: black;
}